{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>User</title>

    <head>
        <style>
            body {
                margin: 0%;
                padding: 0%;
                box-sizing: border-box;
                background-color: rgb(5, 70, 70);
            }

            

            .upload {
                margin: 30px;
            }
        </style>
        <link rel="stylesheet" href="{% static '/adminpage/style.css' %}">
        <link rel="stylesheet" href="{% static '/adminpage/style.css' %}" />

    <body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static '/assets/images/logo.png' %}" class="logo" alt="">
                        <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                        </ul>
                        <form class="d-flex">
                            <button type="button" class="btn btn-primary btn-sm mx-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <i style="color: #fff;" class="fas fa-upload"></i> Upload Photo
                            </button>

                            <a href="{% url 'user-logout' %}" class="btn btn-primary btn-sm mx-2  " tabindex="-1" role="button"
                                aria-disabled="true">
                                <i style="color:#fff;" class="fas fa-sign-out-alt"></i>Log Out</a>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Form Part -->

        <div class="container">
            <div class="upload">
                <!-- Button trigger modal -->


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Please Fill Input Fields:</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" enctype="multipart/form-data" action="{% url 'user-admin' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Enter Your Name</label>
                                        <input type="text" class="form-control" name = 'name' id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Enter Contact Number</label>
                                        <input type="text" class="form-control" name="contact" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter Contact Number">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Location</label>
                                        <input type="text" class="form-control" name="location" id="exampleInputPassword1"
                                            placeholder="Enter Location">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Your Photo</label>
                                        <input type="file" class="form-control" name="userImage" id="exampleInputPassword1"
                                            placeholder="Choose Images">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">PayMent Photo</label>
                                        <input type="file" class="form-control" name="paymentImage" id="exampleInputPassword1"
                                            placeholder="Put Payment ScreenShort">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
           <div class="container">
            <div class="col-lg-12 md-12 sm-12">
               <div class="accordion-item">
                <a href="{% url 'user-admin' %}" class="btn btn-primary btn-sm mx-2  " tabindex="-1" role="button"
                                aria-disabled="true">return Profile</a>
                   <h2 class="accordion-header" id="flush-headingThree">
                       <button class="accordion-button" type="button" data-bs-toggle="collapse"
                           data-bs-target="#flush-collapseThree" aria-expanded="false"
                           aria-controls="flush-collapseThree">
                           {{ payment.name }}
                       </button>
                   </h2>
                   <div id="flush-collapseThree" class="accordion-collapse"
                       aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                       <div class="accordion-body">

                           <div class="container">
                               <div class="mb-3">
                                   <label for="exampleFormControlInput1" class="form-label">Contact
                                       Number : </label>
                                   {{payment.contact_number}}

                               </div>
                               <div class="mb-3">
                                   <label for="exampleFormControlInput1" class="form-label">Location : </label>
                                   {{payment.location}}
                               </div>
                               <div class="mb-3">
                                   <h4 class="text-center">User Photo</h4>

                                   <img src="{{ payment.your_pic.url }}" style="height:300px" class="rounded mx-auto d-block img-fluid" alt="...">
                               </div>
                               <div class="mb-3 sm-12">
                               <h4 class="text-center">Payment Photo</h4>
                               <img src="{{ payment.payment_pic.url }}" style="height:300px;width: auto;" class="rounded mx-auto d-block img-fluid" alt="Avtar">
                                   </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
            
           </div>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
            {{message}}
            </div>
        {% endfor %}
        {% endif %}

    </body>



    <script src="https://kit.fontawesome.com/9ef1cb42dc.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>




</html>